In [6]:
def calculate_total(a,b): #Parameters(a and b)
    total = a + b         #Task: Addition
    return total          #Output: sum of a and b
result = calculate_total(5,7) #Calling the function with inputs 5 and 7
print(result)             #Output:12

12

In [7]:
result2 = calculate_total(6787664,10)
print(result2)

6787674

In [22]:
#Built-in function 1: len(): Calculates the length of a sequence or collection - string here
string_length = len("Hello, world!")
len("Hello, world!")

13

In [23]:
#Built-in function 1: len(): Calculates the length of a sequence or collection - list here
list_length = len([1, 2, 3, 4, 5])
len([1,2,3,4,5])

5

In [24]:
#Built-in function: sum(): Adds up the elements in an iterable (list, tuple, and so on)
total = sum([10, 20, 30, 40, 50])
sum([10,20,30,40,50])

150

In [25]:
#Built-in functions: max(): Returns the maximum value in an iterable
highest = max([5, 12, 8, 23, 16])
max([5,12,8,23,16])

23

In [26]:
#Built-in functions: min(): Returns the minimum value in an iterable
lowest = min([5, 12, 8, 23, 16])
min([5,12,8,23,16])

5

In [27]:
#Pass stetement
def function_name():
    pass

In [28]:
#Defining function
def greet(name):
    return "Hello, " + name
result = greet("Alice")
print(result)

Hello, Alice

In [29]:
#Docstrings (Documentation Strings) - Placed inside triple quotes under the function definition
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
multiply(2,6)

12

In [31]:
def divide(a,b):
    """
    This function divides two numbers.
    Input: a(number), b(number)
    Output: Product of a and b
    """
    print(a/b)
divide(64,8)

8.0

In [37]:
#Return statement - gives back a value from a function, ends the function's execution and sends the result, a function can return various types of data
def add(a, b):
    return (a + b)
    
sum_result = add(564, 12)

In [39]:
def add(a, b):
    return (a + b)
    
add(564, 12)

576

In [40]:
sum_result = add(67,67)
print(sum_result)

134

In [50]:
global_variable = "I'm global"
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)   # Accessing local variable - this variable is local to the function and can only be accessed within the function's scope.
print(example_function())

I'm global
I'm local
None